<!DOCTYPE html>
<html lang="pt-br">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <link rel="stylesheet" href="/style.css">

        {% block head %}
            <title>Gym Manager</title>
        {% endblock head %}
        
        <link rel="icon" type="icon" href="/favicon.png"/>

    </head>

    <body>
        <header>
            <div class="links">
                <a href="/" class="active">Instructors</a>
                <a href="/members">Members</a>
            </div>
        </header>
        {% block content %}
        {% endblock content %}
        {% block scritps %}
            <script src="/script.js"></script>
        {% endblock scritps %}
    </body>
</html>